<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
		"-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="com.itbank.repository.GocampReviewDAO">

<insert id="insertUpload" parameterType="gocampreview">
		insert into gocampReview 
				(writer,title,review_content, gocamp) 
				values (#{writer},#{title},#{review_content},#{gocamp})
	</insert>
	
<!-- 	가장 큰값, 마지막에 넣은값 -->
	<select id="selectMaxIdxFromUpload" resultType="int">   
		select max(idx) from gocampReview
	</select>
		<!-- c:forEach var="item" items="${list }" -->	
	<insert id="insertFile" parameterType="hashmap">
		insert into gocampReview_file (gocampReview, filePath) 
		
			<foreach item="item" collection="list" separator="  UNION ALL  " >
				select #{upload}, #{item} from dual
		</foreach>
	</insert>
	
	<select id="selectAllReview" resultType="gocampreview">

		 SELECT 
	        gr.*,
	        (SELECT GROUP_CONCAT(filePath SEPARATOR ',')
	         FROM gocampReview_file
	         WHERE gocampReview_file.gocampReview = gr.idx) AS filePath 
 		  FROM gocampReview gr join gocamp g on gr.gocamp = g.contentId
 		  where g.contentId = #{contentId}
   		  ORDER BY gr.idx desc
	</select>	
	
	<select id="selectFileList" parameterType="int" resultType="string">
		select 
 			  filePath
    			    from gocampReview_file
   		 where
        		gocampReview = #{idx}
	</select>
	
	<delete id="deleteFile" parameterType="int">
			delete from gocampReview_file where gocampReview = #{idx }
	</delete>
	
	<delete id="deleteReview" parameterType="int">
			delete from gocampReview where idx = #{idx}
	</delete>
	
	<select id="getContentId" resultType="string">
			select gc.contentId 
			  from gocampReview gr join gocamp gc 
			  	on gr.gocamp = gc.contentId where gr.idx=#{idx} 

	</select>
		
	<select id="getnick" parameterType="string" resultType="string">
			select nickname from member where userid = #{userid}
	</select>
	
	
<!-- 	 review 게시판 -->
	
	<select id="GoCampAllReview" resultType="gocampreview" parameterType="paging">
		select * from gocampReview
		
				where title like '%${order}%' or review_content like '%${order}%'
			order by 
				idx desc 
			offset #{offset} rows
			fetch next #{perPage} rows only
	</select>
	
	<select id="selectCountGoCampAllReview" parameterType="paging" resultType="int">
			select count(*) from gocampReview where title like '%${order}%' or review_content like '%${order}%'

	</select>
	
			
		<select id="selectOneReview" parameterType="int" resultType="gocampreview">
		
			 SELECT 
		        gocampReview.*,
		        (SELECT GROUP_CONCAT(filePath SEPARATOR ',')
		         FROM gocampReview_file
		         WHERE gocampReview_file.gocampReview = gocampReview.idx) AS filePath 
	 		  FROM gocampReview where idx = #{idx}
	   		  ORDER BY idx 
		
		</select>
		
		
		<select id="searchByKeyword" parameterType="string" resultType="gocampreview">
			select * from gocampReview where title like '%${srchKywrd}%' or review_content like '%${srchKywrd}%'
		</select>
		
		<select id="countByKeyword" parameterType="string" resultType="int">
			select count(*) from gocampReview where title like '%${srchKywrd}%' or review_content like '%${srchKywrd}%'
		</select>
</mapper>
		